<h1>Welcome to Our Store</h1>

<div class="products">
  <% @products.each do |product| %>
    <div class="product">
      <%= link_to product.name, product_path(product) %>
      <% if product.image.attached? %>
        <%= image_tag product.image, class: 'product-img' %>
      <% end %>
      <p><%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
</div>
