@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Kumbh Sans';
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  margin-top: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-img {
  width: 100%;
  height: 200px; /* Ensure all images are the same size */
  object-fit: cover;
  background-color: #f8f9fa;
}

.product-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.product-price {
  color: #007bff;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.pagination-container {
  margin-top: 30px;
  text-align: center;
}
