<!-- app/views/products/show.html.erb -->
<% if @product.present? %>
  <div class="product-images">
    <div class="main-image">
      <%= image_tag @product.image.url, alt: @product.name if @product.image.present? %>
    </div>
    <div class="thumbnail-images">
      <% @product.product_images.each do |image| %>
        <%= image_tag image.url, alt: @product.name %>
      <% end %>
    </div>
  </div>
<% else %>
  <p>Product not found.</p>
<% end %>
